body {
	font-family: "DM Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #003451;
	line-height: 24px;
}

h1 {
	font-family: "DM Sans", sans-serif;
	font-weight: 700;
	font-size: 58px;
	line-height: 70px;
	letter-spacing: -1px;
}

h2 {
	font-family: "DM Sans", sans-serif;
	font-weight: 700;
	font-size: 42px;
	line-height: 52px;
	letter-spacing: -0.4px;
}

.btn {
	border: none;
	border-radius: 100px;
	outline: none;
	cursor: pointer;
	background-color: #E93A7D;
	height: 50px;
	padding: 12px 30px;
	font-family: "DM Sans", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	color: white;
	transition: background-color .2s ease-in;

	&:hover {
		background-color: #D71862;
	}
}

.btn-login {
}

.btn-outline {
	border: 2px solid #EBEAED;
	background-color: transparent;
}