@font-face {
	font-display: swap; 
    font-family: "DM Sans";
    src: local('DM Sans'),
    	 url('../fonts/DMSans-Regular.woff2') format("woff2"),  
         url('../fonts/DMSans-Regular.woff') format("woff");
    
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-display: swap; 
    font-family: "DM Sans";
    src: local('DM Sans'),
    	 url('../fonts/DMSans-Medium.woff2') format("woff2"),  
         url('../fonts/DMSans-Medium.woff') format("woff");
    
    font-weight: 500;
    font-style: normal;
}

@font-face {
	font-display: swap; 
    font-family: "DM Sans";
    src: local('DM Sans'),
    	 url('../fonts/DMSans-Bold.woff2') format("woff2"),  
         url('../fonts/DMSans-Bold.woff') format("woff");
    
    font-weight: 700;
    font-style: normal;
}