.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	background-color: white;
	width: 100%;
	padding: 20px 35px;
	box-sizing: border-box;

	@media (max-width: 767px) {
		padding: 10px 20px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		width: 100px;
		height: 50px;
		background-color: #E93A7D;
		visibility: hidden;
	}
	&__right {
		display: flex;
		align-items: center;

		@media (max-width: 767px) {
			display: none;
		}
	}
	&__nav {
		margin-right: 36px;
	}
	&__nav-item {
		color: #1B1B1C;
		font-weight: 500;
		font-size: 15px;
		text-decoration: none;
		margin-left: 47px;
	}
	&__hamburger {
		display: none;
		border: none;
		outline: none;
		cursor: pointer;
		background-color: transparent;
		padding: 0;
		width: 45px;
		height: 45px;

		@media (max-width: 767px) {
			display: block;
		}
	}
}