.hero {
	position: relative;
	background-image: url('../images/header.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 952px;
	&__text {
		position: relative;
		left: calc(215px / 1400px * 100%);
		top: 480px;
		color: white;
		max-width: 830px;
	}
	&__title {
	}
	&__desc {
		margin-top: 24px;
		max-width: 628px;
		font-size: 22px;
		line-height: 32px;
		font-weight: 500;
	}
}