.video {
	background-color: #222228;
	padding: 100px 20px 143px 20px;
	&__title {
		color: white;
		text-align: center;
		max-width: 770px;
		margin: 0 auto;
	}
	&__container {
		max-width: 937px;
		margin: 40px auto 0 auto;
	}
	&__main {
		position: relative;
		max-width: 770px;
		margin: 0 auto;

		video {
			width: 100%;
  			height: auto;
  			max-height: 100%;
		}
	}
	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%, -50%);
		width: 70px;
		height: 70px;
		padding: 24px 25px 26px 29px;
	}
	&__play-icon {
	}
	&__previews {
		display: flex;
		justify-content: center;
		margin-top: 90px;
	}
	&__prev {
		display: flex;
		margin: 0 27px;
	}
	&__prev-link {
		display: block;
		width: 170px;
		height: 110px;
	}
	&__prev-img {
		width: 100%;
		height: auto;
	}
	&__prev-text {
		max-width: 200px;
		margin: 2px 0 0 30px;
	}
	&__prev-name {
		font-weight: 700;
		color: white;
		font-size: 14px;
		line-height: 26px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	&__prev-desc {
		margin-top: 11px;
		color: #979797;
		font-size: 16px;
		line-height: 26px;
	}
}